.calender{
  width: 70%;
}

.fc-toolbar-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .fc-daygrid-event {
    font-size: 0.9rem;
    padding: 5px;
  }
  
  .fc-daygrid-block-event {
    border-radius: 5px;
  }
  