.login-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}

.login-title{
    font-size: 2em;
    font-weight: bold;
    margin: 0px 0px 20px 0px;
}
.login-form{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 20px;
}